/* params:
	color: Color of the Button
	ripple-color: Color of the ripple effect
	opacity: Opacity of the ripple effect
	has-box-shadow: Button has box shadow
	animation-time: Ripple effect animation time
	border-radius: Button border radius
*/

$ripple-button-transition-time: .3s !default;
$ripple-button-transition-easing: ease-in-out !default;
$ripple-button-transition: all $ripple-button-transition-time $ripple-button-transition-easing !default;
$ripple-button-background-color: #333 !default;
$ripple-button-background-color-hover: #777 !default;
$ripple-button-ripple-color: #fff !default;
$ripple-button-opacity: 0.5 !default;
$ripple-button-has-box-shadow: true !default;
$ripple-button-animation-time: .7s !default;
$ripple-button-border-radius: rem-calc(2) !default;
$ripple-button-box-shadow: 0 rem-calc(2) rem-calc(2) 0 rgba(0, 0, 0, .14), 0 rem-calc(3) 1px rem-calc(-2) rgba(0, 0, 0, .2), 0 1px rem-calc(5) 0 rgba(0, 0, 0, .12) !default;
$ripple-button-hover-box-shadow: 0 rem-calc(4) rem-calc(5) 0 rgba(0, 0, 0, .14), 0 1px rem-calc(10) 0 rgba(0, 0, 0, .12), 0 rem-calc(2) rem-calc(4) -1px rgba(0, 0, 0, .2) !default;

@mixin ripple-button($background-color: $ripple-button-background-color, $background-color-hover: $ripple-button-background-color-hover, $ripple-color: $ripple-button-ripple-color, $opacity: $ripple-button-opacity, $has-box-shadow: $ripple-button-has-box-shadow, $animation-time: $ripple-button-animation-time, $border-radius: $ripple-button-border-radius) {
  border-radius: $border-radius;
  @if $has-box-shadow {
    box-shadow: $ripple-button-box-shadow;
  } @else {
    box-shadow: 0 0 0 0 transparent;
  }
  transition: background-color $ripple-button-transition-time $ripple-button-transition-easing;
  transform: translate3d(0, 0, 0);
  user-select: none;
  background-color: $background-color;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;

  &:hover {
    background-color: $background-color-hover;
    @if $has-box-shadow {
      box-shadow: $ripple-button-hover-box-shadow;
    } @else {
      box-shadow: 0 0 0 0 transparent;
    }
    transition: background-color $ripple-button-transition-time $ripple-button-transition-easing;
  }

  .ink {
    background: $ripple-color;
    opacity: $opacity;
  }

  // animation effect
  .ink.animate {
    animation: ripple $animation-time linear;
  }
}

@mixin reset-ripple-button() {
  border-radius: 0;
  box-shadow: none;
  transition: $ripple-button-transition;
  background-color: transparent;
  margin: 0;
  padding: 0;

  &:hover {
    border-radius: 0;
    box-shadow: none;
  }

  .ink {
    display: none;
  }
}

.ink {
  border-radius: 50%;
  display: block;
  pointer-events: none;
  position: absolute;

  transform: scale(0);

  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
}

// Rounded Buttons
$round-button-size-small: rem-calc(48) !default;
$round-button-size-medium: rem-calc(58) !default;
$round-button-background-color: #333 !default;
$round-button-icon-color: #fff !default;

@mixin rounded-button($background-color: $round-button-background-color, $color: $round-button-icon-color, $ripple-effect: true, $size-mobile: $round-button-size-small, $size-medium: $round-button-size-medium) {
  @if $ripple-effect {
    @include ripple-button($background-color, lightn($background-color, 10%));
  }

  border-radius: 50%;
  background-color: $background-color;
  color: $color;
  display: block;
  height: $size-mobile;
  line-height: $size-mobile;
  text-align: center;
  text-decoration: none;
  width: $size-mobile;

  @media #{$medium-up} {
    height: $size-medium;
    line-height: $size-medium;
    width: $size-medium;
  }
}