// List for Placeholder names.
$-placeholders: ();

// Returns whether a placeholder exists.
//
// Note: This cannot check nested (scoped) placeholders.
@function placeholder-exists($name) {
  @if index($-placeholders, $name) == null {
    @return false;
  }

  @return true;
}

// Registers a placeholder.
//
// @access private
@function -register-placeholder($name) {
  @if placeholder-exists($name) {
    @error 'The key `#{$name}` has already been registered.';
  }

  $-placeholders: append($-placeholders, $name) !global;

  @return $name;
}

// Defines a placeholder.
@mixin define-placeholder($name) {
  %#{$name} {
    $name: -register-placeholder($name);

    @content;
  }
}

@mixin define-placeholder-not-exists($name) {
  @if placeholder-exists($name) == false {
    @include define-placeholder($name) {
      @content;
    }
  }
}