div, p {
  &.two-columns {
    column-count: 2;
    column-gap: $column-gutter;
  }
  &.three-columns {
    column-count: 2;
    column-gap: $column-gutter;

    @media #{$small-up} {
      column-count: 3;
      column-gap: $column-gutter;
    }
  }
  &.text-left {
    text-align: left !important;
  }
  &.text-center {
    text-align: justify !important;
  }
  &.text-right {
    text-align: right !important;
  }
}

a {
  &.external {
    @extend %EXTERNAL;
  }
}