// Allows the use of rem-calc() or lower-bound() in your settings

// Basic Foundation size settings
$base-font-size: 13px !default;
$base-line-height: 1.45em !default;
$column-gutter: 30px !default;

$body-font-color: $color-f5 !default;
$body-font-family: $font-1 !default;

$include-html-type-classes: false;

$global-flexbox: true;

// Grid
$row-width: 1280px + $column-gutter !default;
$include-xl-html-grid-classes: true !default;


$breakpoint-classes: (small medium large xlarge);

// Forms
$form-spacing: rem-calc(16) !default;
$input-placeholder-font-color: $color-f6 !default;
$input-font-color: $color-f6 !default;
$input-font-size: inherit !default;
$input-bg-color: $color-f5 !default;
$input-focus-bg-color: $input-bg-color !default;
$input-border-width: 0 !default;
$input-border-color: $input-bg-color !default;
$input-focus-border-color: $input-bg-color !default;
$input-border-radius: rem-calc(8) !default;
$input-box-shadow: none !default;
$input-radio-size: rem-calc(16);
$form-label-font-size: $input-font-size !default;
$form-label-font-color: $color-f1 !default;