<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
    <title>Logo Partial</title>
</head>
<body>
<f:section name="main">
    <div class="logo">
        <f:link.page pageUid="{settings.home}" title="{f:translate(key:'logo_title')}">
            <f:image src="{settings.logo.src}" alt="{f:translate(key:'logo_title')}" width="{settings.logo.width}" height="{settings.logo.height}" />
        </f:link.page>
    </div>
</f:section>
</body>
</html>