<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Menu</title>
</head>
<body>
<f:section name="standardMenu">
	<div class="main-menu hide-for-large-down">
		<v:page.menu pageUid="{settings.menu.main}" linkActive="1" substElementUid="0" id="main-nav" class="main-nav"
					 excludePages="{settings.menu.mainnavExcludePages}" substElementUid="1" useShortcutTarget="0"/>
	</div>
</f:section>

<f:section name="anchorMenu">
	<input id="burger-toggle" type="checkbox">
	<label for="burger-toggle" class="burger-toggle">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</label>
	<div class="mainmenu-wrapper">
		<f:cObject typoscriptObjectPath="lib.sectionMenu"/>
	</div>

</f:section>

</body>
</html>
