<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Menu</title>
</head>
<body>
<f:section name="main">
	<f:if condition="{settings.menu.top}">
		<div class="top-nav-menu">
			<v:page.menu class="top-nav" pageUid="{settings.menu.top}" linkActive="1" substElementUid="0" useShortcutData="1" />
		</div>
	</f:if>
</f:section>
</body>
</html>