$footer-textblocks-margin-top: rem-calc(12) !default;
$footer-background-color: #eee !default;

@include define-placeholder-not-exists('FOOTERCOPYRIGHT') {
  @extend %SO3;
}

footer {
  padding-bottom: rem-calc(10);

  .footer-content {
    background-color: $footer-background-color;
    @include grid-row();
  }

  .footer-menu {
    text-align: center;

    @media #{$large-up} {
      margin-top: $footer-textblocks-margin-top;
      text-align: right;
    }
  }
  .footer-copyright {
    @extend %FOOTERCOPYRIGHT;
    text-align: center;

    @media #{$large-up} {
      margin-top: $footer-textblocks-margin-top;
      text-align: left;
    }

    span, a {
      display: block;
      padding: rem-calc(8 0);

      @media #{$large-up} {
        display: inline-block;
        margin-right: rem-calc(20);
      }
    }

    a {
      @extend %GHOSTBUTTON;
      vertical-align: bottom;
    }
  }
}