header {
  background-color: $color-f1;

  .header-wrapper {
    @include clearfix;
    @include grid-row();
    position: relative;
  }

  .logo {
    margin: 10px auto;
    display: block;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .mainmenu-wrapper {
    @media #{$medium-up} {
      display: inline-block;
      float: right;
    }
  }
  .top-nav-menu {
    position: absolute;
    right: rem-calc(10);
    top: 0;

    .top-nav {
      padding: 0;
      list-style: none;
      text-align: center;

      @include breakpoint(large) {
        & > li {
          display: inline-block;
        }
      }
    }
  }
}

$burger-height: rem-calc(25) !default;

label.burger-toggle {
  &:before {
    border: 0 !important;
    background-color: transparent !important;
    border-radius: unset !important;
    content: unset !important;
    height: unset !important;
    left: unset !important;
    line-height: unset !important;
    margin-right: unset !important;
    position: unset !important;
    top: unset !important;
    width: unset !important;
  }

  display: block;
  width: rem-calc(25);
  height: $burger-height;
  position: absolute !important;
  top: rem-calc(8);
  right: $column-gutter/2;
  cursor: pointer;

  @media #{$large-up} {
    display: none !important;
  }

  span {
    display: block;
    position: absolute;
    height: rem-calc(2);
    width: 100%;
    background: $color-f4;
    left: 0;
    transform: rotate(0deg);
    transition: all .25s ease-in-out;

    &:nth-child(1) {
      top: rem-calc(4);
    }

    &:nth-child(2), &:nth-child(3) {
      top: $burger-height/2 - rem-calc(1);
    }

    &:nth-child(4) {
      top: $burger-height - rem-calc(6);
    }

    #burger-toggle:checked ~ &:nth-child(1) {
      top: $burger-height/2 - rem-calc(1);
      width: 0%;
      left: 50%;
    }

    #burger-toggle:checked ~ &:nth-child(2) {
      transform: rotate(45deg);
    }

    #burger-toggle:checked ~ &:nth-child(3) {
      transform: rotate(-45deg);
    }

    #burger-toggle:checked ~ &:nth-child(4) {
      top: $burger-height/2 - rem-calc(1);
      width: 0%;
      left: 50%;
    }
  }
}

#burger-toggle {
  display: none;
}
