<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<head>
	<title>Main Template</title>
</head>
<body>
<f:layout name="default"/>
<f:section name="main">
	<f:render partial="Header/GoogleTagManager" section="main" arguments="{_all}"/>

	<div class="pageWrapper sticky-menu layout-content">
		<f:render partial="Header" section="main" arguments="{_all}"/>

		<div class="row">
			<div class="columns small-12">
				<section class="mainContent">
					<!--TYPO3SEARCH_begin-->
					<v:content.render column="{settings.cols.mainContentColumn}"/>
					<!--TYPO3SEARCH_end-->
				</section>
			</div>
		</div>

		<f:render partial="Footer" section="main" arguments="{_all}"/>
	</div>
</f:section>
</body>
</html>